
@{
    ViewBag.Title = "MasterView";
}

<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Content/css/styles.css">
    <title>Drocsid</title>
    <script src="~/Content/scripts/jquery.js" charset="utf-8"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<header>
    <div class="logo">Какая-то картинка</div>
    <nav id="menu1">
        <ul class="topmenu">
            <li>
                <a href="" class="left">Комнаты</a>
                <ul class="submenu">
                    <li><a href="@Url.Action("RadioBot", "Room")">Радио-бот</a></li>
                    <li><a href="@Url.Action("VideoBot", "Room")">Видео-бот</a></li>
                    <li><a href="">Плейлисты</a></li>
                </ul>
            </li>
            <li><a href="@Url.Action("Index", "Home")" class="left">Главная</a>
            <li><a href="@Url.Action("Index", "Forum")" class="left">Форум</a></li>
            @if(User.Identity.IsAuthenticated)
            {
                <li><a href="@Url.Action("Logout", "User")" class="right">Выход</a></li>
                <li><a href="#" class="right">@User.Identity.Name</a></li>
            } else
            {
                <li><a href="@Url.Action("Login", "User")" class="right">Вход</a></li>
                <li><a href="@Url.Action("Signup", "User")" class="right">Регистрация</a></li>
            }
            @*@Html.Partial("_LoginPartial")*@
            
        </ul>
    </nav>
</header>
<body>
    @RenderBody()
</body>

<h2>Footer</h2>
</html>
