@model Drocsid.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "/Views/MasterView.cshtml";
}

<body>
    <div class="content">
        <h2>Вход</h2>
        <div class="register">
            @using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "reg" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <p>
                    <label for="login">Логин</label>
                    @Html.TextBoxFor(Model => Model.Username)
                    @Html.ValidationMessageFor(Model => Model.Username)
                </p>
                <p>
                    <label for="pass1">Пароль</label>
                    @Html.PasswordFor(Model => Model.Password)
                    @Html.ValidationMessageFor(Model => Model.Password)
                </p>
                <p><input id="go_reg" type="submit" name="" value="Войти"></p>
            }

        </div>
    </div>

