@model Drocsid.Models.SignupModel
@{
    ViewBag.Title = "Signup";
    Layout = "/Views/MasterView.cshtml";
}

<div class="content">
    <h2>Регистрация</h2>
    <div class="register">

        @using (Html.BeginForm("Signup", "User", FormMethod.Post, new { @class = "reg" }))
     {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <p>
            <label for="email">Почта</label>
            @Html.TextBoxFor(Model => Model.Email)
            @Html.ValidationMessageFor(Model => Model.Email)
        </p>
        <p>
            <label for="login">Логин</label>
            @Html.TextBoxFor(Model => Model.Username)
            @Html.ValidationMessageFor(Model => Model.Username)
        </p>
        <p>
            <label for="pass1">Пароль</label>
            @Html.PasswordFor(Model => Model.Password)
            @Html.ValidationMessageFor(Model => Model.Password)
        </p>
        <p>
            <label for="pass2">Повтор пароля</label>
            @Html.PasswordFor(Model => Model.ConfrimPassword)
            @Html.ValidationMessageFor(Model => Model.ConfrimPassword)
        </p>
        <p>
            <label for="avatar">Выберите аватар</label>
            <input type="file" name="avatar" value="" id="avatar" multiple accept="image/png,image/jpeg">
        </p>
        <p><input id="go_reg" type="submit" name="" value="Зарегистрироваться"></p>
}

    </div>
</div>

